*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-size: 4vw;
    background-image: url("https://mcdn.wallpapersafari.com/medium/60/68/vY1obQ.jpg");
    background-size: auto 100vh ;
    font-family: 'Oswald', sans-serif;
    color: whitesmoke;
    height: 100vh;
}

html{
  scroll-behavior: smooth;
}

@media (min-width: 1300px) {
  body{
    font-size: 2vw;
  }

}


.legendas {
  color: yellow;
}

header {
  background-image: url("https://avatanplus.com/files/resources/original/580bc3e87de98157edf54444.png");
  background-size: 100% 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}  

.contato{
 background-color: rgb(9, 211, 9);
}

#logocentral {
  text-align: center;
}

#logo{
  transition: transform 0.5s;
  width: auto;
  height: 25vh;
}
  
.menu{
   position: fixed;
   background-color: rgb(52, 6, 255);
   background-size: auto 100vh;
   width: 100vw;
   top: 0;
   z-index: 1;
}
  
.menu ul {
   display: flex;
   justify-content: space-evenly;
}
  
  .menu li {
    list-style:none;
  }

  .menu a{
    font-family: 'Luckiest Guy', cursive;
    display: block;
    padding: 2.5vh 3vw ;
    color: #ffffff; 
    text-decoration: none;
  }
 .menu a:active,
 .menu a:hover {
    text-decoration: underline;
  }
  
  .titulo{
    transform: scale(0.1);
    opacity: 0;

    animation: linear 1s animacaoTitulo forwards;
  }

  @keyframes animacaoTitulo {
    100%{
      transform: scale(1);
      opacity: 1;
    }
  }

  #logocentral a, .legendas{
    text-decoration: none;
  }
  
  .site-subtitle,
  .site-title{
    line-height: 1.2em;
    text-align: center;
  }
  
  .site-subtitle{
    font-size: 1.2em;
    font-family: 'Merriweather', serif;
    color:#00ff03
  }

  .site-title {
    font-family: 'Anton', sans-serif;
    -webkit-text-stroke-width: 0.2px; 
    -webkit-text-stroke-color: #ffffff;
    color: black;
  }

  .img-portfolio{
    width: auto;
    height: 25vh;
  }
  
  .contato h2{
    font-size: 5vh;
    padding-bottom: 9vh;
    font-family: 'Roboto', sans-serif;
  }

  .videos1 h2{
   font-size: 5vh;
   padding-bottom: 9vh;
   font-family: 'Roboto', sans-serif;
 }

 .contato a:active,
 .legendas:hover{
   text-decoration: underline;
 }

 .leg{
   font-size: 3vh;
   color: yellow;
  font-family: 'Oswald', sans-serif;
 }

 .videos{
   width: 49.8vh;
   height:28vh;
 }

 
 .videos1{
   margin-left: auto;
   margin-right: auto;
   min-height: 100vh;
   padding: 0.5em;
   border: 0.5em;
 }

 .cursos .grid,
 .videos1 .grid {
    display: grid;
    gap: 3vh;
 }

 @media (min-width: 1300px) {
   .cursos .grid,
   .videos1 .grid {
    grid-template-columns: 40vw 40vw;
    justify-content: center;
  }
 }

 .cursos figure,
 .videos1 figure{
   text-align: center;
 }

 .contato a{
  transition: 0.5s;
  color: whitesmoke;
  font-size: 7vw;
  text-decoration: none;
 }

 .contato{ 
  margin-left: auto;
  margin-right: auto; 
  min-width: 100vw; 
  padding: 0.5em;
  border: 0.5em;
}

.contato a:active,
.contato a:hover{
  text-shadow: 0 0 12px white;
}

.logosobre:active,
.logosobre:hover{
  transform: scale(1.1);
}

.contato .icons{
  text-align: center;
}

@media (max-width: 1000px) {
  .contato a{
    font-size: 14vw;}
}

.youtube:active,
.youtube:hover{
  color: red;
}

.facebook:active,
.facebook:hover{
  color: blue;
}

.envelope:active,
.envelope:hover{
  color: yellow;
}

.instagram:active,
.instagram:hover{
  color: orange;
}


a.instagram,
a.facebook,
a.envelope,
a.youtube {
  padding-right:2vw;
  padding-left: 2vw;
}

#loader {
  position: absolute;
  left: 50%;
  top: 30%;
  z-index: 1;
  color: #ffffff;
  font-size: 2vw;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}


.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

.sobre{
  padding: 0.5em;
  border: 0.5em;
}

.cursos{
  margin-right: auto;
  margin-left: auto;
  padding: 0.5em;
  border: 0.5em;
}

.justo{
  margin-left: auto;
  margin-right: auto;
}

.sobre p{
  font-family: 'Oswald', sans-serif;
  color: orange;
  text-indent: 5vw;
  margin-bottom: 1vh;
  text-align: justify;
  font-size: 3vh;
  text-shadow: 0 0 7px red;
}

@media (min-width:1000px){
  .justo{
    max-width: 1000px; 
  }
}

.sobre .logosobre{
  width: auto;
  height: 15vw;
  float: left;
  margin-right: 3vw;
}

.sobre h2{
  font-size: 5vh;
   padding-bottom: 9vh;
   font-family: 'Roboto', sans-serif;
}

.mudacor{
  color: orange;
}

.mudacor:hover,
.mudacor:active{
  color: aqua;
}

@media (max-width:750px){
  .sobre .logosobre{
    float: none;
    width: 50vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
  }
}

.mylogo {
  -webkit-animation:spin 5s linear infinite;
  -moz-animation:spin 5s linear infinite;
  animation:spin 5s linear infinite;
}
@-moz-keyframes spin { 
  40% { -moz-transform: rotate(360deg); }
  100% {-moz-transform: rotate(360deg);}
}
@-webkit-keyframes spin { 
  40% { -webkit-transform: rotate(360deg); }
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 40% { -webkit-transform: rotate(360deg); transform:rotate(360deg); }
100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } 
}

.site-subtitle{
  text-decoration: underline;
}

.site-subtitle:hover,
.site-subtitle:active{
  color: yellow;
}

.cursos h2{
  font-size: 5vh;
   padding-bottom: 9vh;
   font-family: 'Roboto', sans-serif;
}

.cursos figure{
  margin-bottom: 9vh;
}

.sobre{
  margin-bottom: 9vh;
}


.tracinho{
  min-width: 100vw;
  height: 1vh;
  background-color: #ffffff;
}